.coa-container {
  padding: 30px;
}

.filter-box {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.coa-table {
  width: 100%;
  border-collapse: collapse;
}

.coa-table th,
.coa-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f5f5f5;
}

.error-text {
  color: red;
}

.create-user-button {
  width: 300px;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  
  box-sizing: border-box;
  background-color: #ffffff;
  position: fixed;
  top: 70px;
  left: 0;
  
  
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}