.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
}

.login-form input {
  padding: 10px;
  font-size: 1rem;
}

.login-form button {
  padding: 10px;
  cursor: pointer;
}

.logo img {
  width: 350px;
  margin-bottom: 20px;
}